<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ship owner project</title>
</head>
<body>
<p th:text="${header}"></p>
<br>
<p>Ship Owners for: </p>

<div th:each="country : ${countries}">

    <a th:href="@{/country/get/shipowners/{name}(name=${country.getName()})}" th:text="${country.getName()}"></a>
</div>


<br>

<p>Vessels for: </p>
<div
        th:each="country : ${countries}">

    <a th:href="@{/country/get/vessels/{name}(name=${country.getName()})}" th:text="${country.getName()}"></a>

</div>


<a href="/general">Back</a>
</body>
</html>