<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ship owner project</title>
</head>
<body>




<form th:method="GET" th:action="@{/countries}" >
    <input type="submit" value="ALL COUNTRIES">
</form>
<br>
<form th:method="GET" th:action="@{/shipowners}" >
    <input type="submit" value="ALL SHIPOWNERS">
</form>
<br>
<form th:method="GET" th:action="@{/vessels/all}" >
    <input type="submit" value="ALL VESSELS">
</form>
<br>
</body>
</html>